/* Add these styles to your existing CSS */
body {
  background-color: black;
}
h1 {
  color: hsl(0, 30%, 96%);
  text-align: center;
}
h3{
  color: rgb(68, 180, 245);
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
}
pre{
  font-size: 25px;
  
  text-align: center;
  
}

/* Optional: Reduce margin for paragraphs */
p {
  margin: 10px 0;
  color: white; /* Adjust the top and bottom margins as needed */
}

/* Optional: Reduce margin for anchor (link) */
a {
  color: white;
  margin: 10px 0; /* Adjust the top and bottom margins as needed */
}

#main-container {
  border-radius: 8px;
  border: 2px solid rgb(40, 147, 241);
  margin: 0px;
  padding: 0px;
  /* Adjust the margin as needed */
}
#imageGallery {
  
  border-radius: 8px;
  justify-content: center;
  padding: 10px;
  display: flex;
  width: 650px;
  height: 350px;
  border: 2px solid rgb(238, 46, 46);
  margin-left: 275px;
}

#text-container {
  background: slateblue;
  border-radius: 8px;
  
  align-items: center;
  border: 2px solid white;
  padding: 10px;
  margin: 30px;
  margin-left: 100px;
  margin-top: 100px;
  width: 1000px;
  height: 300px;
}
#buttonContainer {
  background-color: rgb(105, 105, 245);
  
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 250px;
  border: 2px solid white;
  margin-top: 50px;
  margin-left: 475px;
  /* Adjust the left margin as needed */
}
#buttonContainer button{
  border: 2px solid black;
  border-radius: 8px;
}
#containers-row{
padding: 10px;
  border: 2px solid blue;
  width: 1200px;
  height: 350px;
  border-radius: 8px;
  margin-left: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

#direction-container {
  border: 2px solid red;
  border-radius: 8px;
  width: 350px;
  height: 320px;
  margin-top: 10px;
  margin-right: 200px;
  
}
#recipe-container {
  border: 2px solid white;
  border-radius: 8px;
  width: 350px;
  height: 320px;
  margin-top: 10px;
  margin-left: 200px; /* Adjust the top margin as needed */
}

